# Git
.git
.gitignore

# Env files
.env
.env.*
!.env.example

# Local model artefacts (built inside Docker)
models/
mlruns/
data/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter
*.ipynb
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
